*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/database/modules
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/data/spelldata/raw/*
!/data/spelldata/raw/.gitkeep
/data/arena-logs/raw/*
!/data/arena-logs/raw/.gitkeep
/data/arena-logs/metadata/*
!/data/arena-logs/metadata/.gitkeep
Homestead.json
Homestead.yaml
Thumbs.db
